# Entornos virtuales
venv/
env/
.venv/

# Nodos locales (Ignorar todas las carpetas sin extensión)
*/
!assets/
!lserver/
!lserver.egg-info/

# Archivos de python
__pycache__/
*.pyc
*.pyo

# Archivos de BBDD
*.db
*.sqlite3

# Compilación
build/
dist/
*.egg-info/
